html,body{
	background-color:#dddddd ;
	color: #000;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	font-family: 'Work Sans','Arial',sans-serif;
	font-weight: 500;
}

h1{
	color: #000;
	font-weight: 1500;
	font-size: 40px;

}

.btn{
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 200px;
  text-align: center;
}

.btn-full{
  background-color: #d8d8d8;
  color: #000;
  text-align: center;
  font-weight: 500;
  font-size: 19px;
}

.text{
  text-align: center;
}

.col {
	display: block;
	margin: auto;
	text-align: center;
}
input[type=text], input[type=email],textarea{
  
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
label{
	font-weight: 600;
	font-size: 23px;
}