* {
  box-sizing: border-box;
}

body {
  

  font-family: "Raleway", Arial, Helvetica, sans-serif

}
select
{
    width:  100%;
    height: 35px;
}
#book {
    width: 100%;  height: 35px;
  background-color:#00AB66;}
 
#Search {
   width: 100%;  height: 35px;
  background-color:#00AB66;

}  
    
h1 {
  text-decoration: underline;
}

.sidenav {
  height: 100%;
  width: 270px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 450px;
  background-color: #f1f1f1;
  overflow-x: hidden;
}
.center{
  margin: auto;
  text-align: center;
}


.content {

  position: absolute;
  margin-left: 700px;
  top: 0px;
  padding-left: 20px;
  width: 740px;

  
  
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
}


.row::after {
  content: "";
  clear: both;
  display: table;
  
}


.header{
  background-image:linear-gradient(rgba(0,0,0,.3),rgb(0,0,0)) ,url("f.jpeg");
  height: 350px;
  width: 720px;
  vertical-align: middle;
  position: relative;
}

.main-nav{
  float: right;
  margin-top: 20px;
}
.main-nav li{
  display: inline-block;
  margin-right: 102px;
}
.main-nav li a{
  text-decoration: none;
  color: #000 ;
}
.header-box{
  position: absolute; 
  top: 50%;
  left: 50%;

  transform: translate(-50%,-50%);
  text-align: center;
}

.sticky-nav{
  position: fixed;
  left: 727px;
  
  
  top: 0;
  background-color:rgba(255, 255, 255, 0.7);
 
  
  height: 50px;
  
}

.car{

  margin-top: 10%;
  padding-left: 40px;
}

.btn{
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 200px;
  text-align: center;
  size: 2000px;
}
.btn-full{
  background-color: #dddddd;
  color: #000;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
}

table {
  font-family: 'Work Sans','Arial',sans-serif;
  font-size: 16px;
  font-weight: 500;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 2px solid #000;
  text-align: left;
  padding: 8px;
}
